<% var url = url_for(config.archive_dir + '/' + post.date.format('YYYY/MM')) %>
<article class="archive-article archive-type-<%= post.layout %>">
    <div class="archive-article-inner">
        <header class="archive-article-header">
            <p><a class="archive-article-link" href="<%- url_for(post.path) %>"><%= post.title %></a></p>
            <div class="article-info">
                <%- partial('post/info', {type: 'date', date_format: 'Y-M-D', url: url, extra: '  |  '}) %>
                <%- partial('post/info', {type: 'type', name: post.tags, extra: '  |  '}) %>
                <%- partial('post/info', {type: 'wordcount', count: 0, extra: '  |  '}) %>
                <%- partial('post/info', {type: 'times', count: 0, extra: ''}) %>
            </div>
            <div class="acticle-introduce">
                <h2 class="acticle-introduce-pr">前言</h2>
                <div class="acticle-introduce-content"><%= strip_html(post.excerpt).substring(0, 180) %></div>
            </div>
            <a href="<%- url_for(post.path) %>" target="_blank" class="acticle-readmore">阅读全文 »</a>
        </header>
    </div>
</article>